{{#if logged_in}}
	{{> game}}
{{/if}}


<div>
	<h4>You say your an American? But do you know your history?</h4>

	<h2>Instructions</h2>

	<p>You'll be given a ten question quiz, testing your American History knowledge.
		You'll have thirty seconds to answer each question. Every correct answer, will give you five points, every wrong answer will decrease your score by two (you could end up with a negative score). You can leave a question blank, and it will not affect your score.</p>

</div>

<div>	
	<h3>Recent Users and Scores</h3>
	{{#each scores}}
		<p>User: {{username}} | Score: {{total_score}}</p>
	{{/each}}
</div>